ListView {
    margin: 5;
    opacity: 0;
}
Label {
    margin: 10;
    horizontal-align: left;
    vertical-align: center;
}
TextField {
    border-width: 1;
    border-style: solid;
    border-color: #CDCDCD;
}
Image {
    margin: 10;
}